.forum-test-bg {
	background-color: white;
}


/* Card */
.forum-thread-card {
	background-color: #0e3b58;
	color: white;

	margin-bottom: 5%;
}

.forum-thread-card-footer {

}


/* Posts */
.forum-thread-post-list-item {
	padding: 15px;
	margin-top: 2%;
	color: #0e3b58;
	border: 5px solid #0e3b58;

}

.forum-thread-post-content {
	/*background-color: darkgray;*/
	padding: 15px;
	border-right: 5px solid #0e3b58;
	color: #0e3b58;
	/*background-color: white;*/
}

.forum-thread-post-user {
	/*background-color: gray;*/
	/*background-color: white*/
	
}

.forum-thread-post-userinfo {
	/*background-color: black;*/
}

.forum-thread-profile-picture {
	max-width: 75px;
	max-height: 75px;

	min-width: 75px;
	min-height: 75px;
}

