/* Global styles */

/* Credit & Citations

DESIGN
-Bootstrap (for some components too) 
Footer: https://getbootstrap.com/docs/4.0/examples/product/;
Nav: https://getbootstrap.com/docs/4.0/examples/navbars/;

FONTS
-Google Fonts


GLOBAL COLOR SCHEME
Primary: #0089fc;
Light: 68b8ff;
Dark: 005dc8;

*/

/* For testing. */
.primary-color {
	color: #0089fc;
}

.light-color {
	color: #68b8ff;
}

.dark-color {
	color: #005dc8;
}

.primary-bg {
	background: #0089fc;
}

.light-bg {
	background: #68b8ff;
}

.dark-bg {
	background: #005dc8;
}

/* Top parent container for each page */
.top-container {
	/*background: rgba(50, 119, 229, .8);*/
	background: #68b8ff;
	padding-top: 20px;
	padding-bottom: 20px;

	font-family: 'Ubuntu', sans-serif;
}

/* Remove top padding */
.no-padding {
	padding-top: 0px;
}

.global-font {
	font-family: 'Ubuntu', sans-serif;
}

/* Background for main page content container */
.content-container {
	background: white;
}

/* Footer */
.footer-logo {
	max-height: 75px;
	max-width: 100px;
}

.footer-text {
	font-size: 1em;
}

.footer-container {
	border-top: 2px solid #005dc8;
}

/* General Jumbotrons */
.c2c-jumbo {
	width: 100%;
	height: 400px;
	text-align: center;
}

.jumbo-title {
	margin-top: 2%;
	color: white;
	font-size: 4em;
}
.jumbo-subtitle {
	margin-top: 2%;
	color: white;
	font-size: 2em;
}

/* Pretty Jumbotron: fancy header and text styling */
.jumbo-title-pretty {
	letter-spacing: 3px;
	color: white;
	text-shadow: 
	-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.jumbo-subtitle-pretty {
	letter-spacing: 3px;
	color: white;
	text-shadow: 
	-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

@media(max-width: 992px) {
	.jumbo-title {
		font-size: 3em;
	}

	.jumbo-subtitle {
		font-size: 2em;
	}
}

@media(max-width: 350px) {
	.jumbo-title {
		font-size: 2.5em;
	}

	.jumbo-subtitle {
		font-size: 1.5em;
	}
}

/* General text */
.c2c-text {
	font-size: 1em;
}


.c2c-header {
	font-size: 2.5em;
	color: black;
}

.c2c-header-big {
	font-size: 3em;
	color: black;
}
