/* Global styles */

/* Credit & Citations

DESIGN
-Bootstrap (for some components too) 
Footer: https://getbootstrap.com/docs/4.0/examples/product/;
Nav: https://getbootstrap.com/docs/4.0/examples/navbars/;

FONTS
-Google Fonts

*/

/* Top parent container for each page */
.top-container {
	background: rgba(50, 119, 229, .8);
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Remove top padding */
.no-padding {
	padding-top: 0px;
}

/* Background for main page content container */
.content-container {
	background: white;
}

/* Footer */
.footer-logo {
	max-height: 75px;
	max-width: 100px;
}

.footer-text {
	font-size: 1em;
}

/* General Jumbotrons */
.jumbo-title {
	color: white;
	font-size: 4em;
}
.jumbo-subtitle {
	color: white;
	font-size: 2em;
}

/* General text */
.c2c-text {
	font-size: 1em;
}


.c2c-header {
	font-size: 2.5em;
	color: black;
}

