.home-jumbo {
	background: url("../assets/C2C_symbol.jpg") no-repeat center;
	background-size: cover; 
}

.home-jumbo-title {
	font-size: 5em;
	margin-top: 10%;
}

@media(max-width: 992px) {
	.home-jumbo-title {
		font-size: 4em;
		margin-top: 15%;
	}
}

@media(max-width: 350px) {
	.home-jumbo-title {
		font-size: 3.5em;
		margin-top: 15%;
	}
}