
.landing-jumbo {
	background: url("../assets/C2C_symbol.jpg") no-repeat center;
	background-size: cover; 
}

.landing-info-img {
	max-width: 150px;
	max-height: 150px;
}

/* Container for the information displayed on the landing page */
.landing-info {
	text-align: center;
}

/* Login button in jumbotron */
.landing-login-btn {
	margin-top: 5%;
	/*background-color: #0089fc;*/
}
