.search-background {
	background-color: white;
}

.search-container {
	background: white;
	padding-bottom: 10px;
}

.search-bar-container {
	margin-top: 15%;
	margin-bottom: 5%;
}

.search-results-container {
	margin-top: 20px;
	margin-bottom: 40px;
}

.search-pagination-container {
	margin-bottom: 20px;
}

.search-card-deck {
	
}

/* Search Header/Title */
.search-header {
	font-size: 4em;
	text-align: center;
	margin-bottom: 40px;

	color: #0089fc;
}

/* Search Results Header */
.search-results-header {
	font-size: 2em;

	color: #0089fc;
}


/* Card types for search results */
.search-general-card {
	max-width: 180px;
	min-width: 180px;
}

.search-profile-card {
	max-width: 180px;
	min-width: 180px;

	background: #68b8ff;

	margin-top: 20px;

	border-color: #005dc8;
	border-width: 2px;
}

.search-profile-pic {
	min-width: 150px;
	max-width: 150px;
	min-height: 150px;
	max-height: 150px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
}

/* Utility classes */
/* Adds a margin to balance the page if there is no active search */
.no-search-margin {
	margin-bottom: 10%;
	margin-top: 10%;
}

.search-no-result {
	text-align: center;
}